/*-------------------------------------------------
GLOBALS CLASSES 
-------------------------------------------------*/
*{padding:0; margin:0;}
body{ font-family:Arial, Helvetica, sans-serif; font-size:15px; color:#1491c1; background:url(../images/bg.jpg) repeat;}
img{border:none;}
h1{ font-family: 'Droid Serif', serif; font-weight:normal; color:#fff; text-align:center; padding-top:15px; padding-bottom:15px;}
h2{ font-family: 'Droid Serif', serif; font-weight:normal; color:#fff; font-size:18px;}
P{ line-height:20px;}
a{text-decoration:none; color:#1491c1;}
a:hover{color:#fff;}
.clearing { clear:both;}
.bor-bottm-non{border-bottom:none!important;}
.panel{}
.title{}
.content{}
.wrap{width:60%; margin:0 auto;overflow:hidden; background:#083266;}
.header-wrap{ background:#083266; height:162px;}
.header{ width:60%; margin:0 auto;}
.logo{; background:#1491c1; width:100%;}
.logo h1{font-size:52px; text-align:center; padding:52px 0px 50px 0px;}
p{padding-bottom:15px;width: 75%; margin: 0 auto;}
.container{ width:100%; padding-bottom: 30px; }




.copyright-wrap{ background:#fff; padding-top:30px; padding-bottom:20px;}
.copyright{ width:100%;}
.copyright .content{ text-align:center;}
.copyright .content a{ text-decoration:none; color:#1491c1;}
.copyright .content a:hover{color:#062c5b;}
.copyright .content a.active{color:#062c5b;}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}