/*-------------------------------------------------
ALGEMENE CSS WWW.BUCMOTOR.COM
-------------------------------------------------*/


/*Deze css wordt gebruikt om de lettertype mooier te maken ik heb het op internet gevonden*/

@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: 400;
    src: local('Droid Serif'), local('DroidSerif'), url(http://fonts.gstatic.com/s/droidserif/v6/0AKsP294HTD-nvJgucYTaI4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/*Media screen voor toetsellen die een width groter dan 520px hebben*/
.align {
    text-align: center;
}

@media screen and (min-width:521px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #1491c1;
        background: url(../images/bg.jpg) repeat;
    }
    img {
        border: none;
    }
    h1 {
        font-family: 'Droid Serif', serif;
        font-weight: normal;
        color: #fff;
    }
    h2 {
        font-family: 'Droid Serif', serif;
        font-size: 18px;
        font-weight: normal;
        color: #fff;
    }
    P {
        line-height: 20px;
    }
    a {
        text-decoration: none;
        color: #1491c1;
    }
    a:hover {
        color: #FF8080;
    }
    .center {
        text-align: center;
    }
    .table {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background-color: #F2F2F2;
    }
    /*Hieronder wordt margin afgekort door MAR*/
    .mar-top {
        margin-top: 40px;
    }
    .mar-top30 {
        margin-top: 30px;
    }
    .mar-bottom {
        margin-bottom: 40px;
    }
    .mar-Right {
        margin-right: 40px;
    }
    .mar-right115 {
        margin-right: 115px;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .clearing {
        clear: both;
    }
    .bor-bottm-non {
        border-bottom: none!important;
    }
    .panel {}
    .title {}
    .content {}
    .algemeneContainer {
        width: 960px;
        margin-top: 0;
        margin-right: auto;
        margin-bottom: 0;
        margin-left: auto;
        overflow: hidden;
        background: url(../images/page-bg.jpg);
    }
    .page {
        width: 580px;
        margin: 0 auto;
        padding-bottom: 50px;
        overflow: hidden;
    }
    .page-content {
        width: 580px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
    }
    .block {
        margin: 0 auto;
        padding: 20px 20px 20px 20px;
    }
    .block2 {
        margin: 0 auto;
        padding: 20px 20px 20px 20px;
    }
    .button a {
        display: block;
        width: 70px;
        height: 30px;
        text-align: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 30px;
        color: #ffffff;
        background: #1491c1;
    }
    .button a:hover {
        background: #0e5295;
    }
    /*-------------------------------------------------
CONTENT CLASSES
-------------------------------------------------*/
    .page-content {
        width: 580px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 30px;
        overflow: hidden;
    }
    .page-content .content h3 {
        padding-bottom: 20px;
        font-family: 'Droid Serif', serif;
        font-size: 16px;
        font-weight: normal;
        color: #fff;
    }
    .page-content .content p {
        padding-bottom: 15px;
    }
    /*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
    .header-algemeneContainer {
        height: 162px;
        background: #083266;
    }
    .header {
        width: 960px;
        margin: 0 auto;
    }
    .logo {
        float: left;
        width: 300px;
        background-color: #1491c1;
    }
    .logo h1 {
        padding: 52px 0 50px 0;
        text-align: center;
        font-size: 52px;
    }
    .menu {
        float: left;
    }
    .menu ul li {
        float: left;
        padding: 115px 20px 30px 20px;
        border-right: #093e76 solid 1px;
        list-style: none;
    }
    .menu ul li a {
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        color: #80d2f8;
    }
    .menu ul li a:hover {
        padding-bottom: 25px;
        border-bottom: 5px solid #FFF;
        color: #1491c1;
    }
    .menu ul li a.active {
        padding-bottom: 25px;
        border-bottom: 5px solid #FFF;
        color: #1491c1;
    }
    /*-------------------------------------------------
BANNER CLASSES
-------------------------------------------------*/
    .onthaalFoto {
        width: 660px;
        margin-top: 0;
        margin-bottom: 50px;
        overflow: hidden;
    }
    .onthaalFoto img {
        border: none;
    }
    .recherche {
        width: 260px;
        margin-bottom: 22px;
        padding: 18px 20px 25px 20px;
        overflow: hidden;
        background: url(../images/recherche-bg.jpg) repeat-x center;
    }
    .recherche h1 {
        padding-bottom: 18px;
        font-size: 20px;
    }
    .recherche-input {
        float: left;
    }
    .recherche-btn {
        float: left;
    }
    .input-style {
        width: 219px;
        height: 34px;
        border: none;
        text-decoration: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        color: #1491c1;
        background: #07366b;
    }
    /*-------------------------------------------------
LEFTCOL CLASSES
-------------------------------------------------*/
    .linksContainer {
        float: left;
        width: 300px;
        overflow: hidden;
    }
    .linksContainer .title {
        margin-bottom: 25px;
    }
    .linksContainer .content ul li {
        border-bottom: #0c4680 solid 1px;
        line-height: 40px;
        list-style: none;
    }
    .linksContainer .content ul li a {
        text-decoration: none;
        color: #1491c1;
    }
    .linksContainer .content ul li a:hover {
        color: #80d2f8;
    }
    .linksContainer .panel img {
        float: left;
        margin: 9px 20px 0 0;
        border: #fff solid 4px;
    }
    .linksContainer .panel .content {
        overflow: hidden;
        color: #1491c1;
    }
    .linksContainer .panel .content .button a {
        float: left;
        width: 53px;
        height: 24px;
        margin: 15px 0 20px 0;
        line-height: 24px;
    }
    .block2 .panel {
        margin-bottom: 18px;
        border-bottom: #0c4680 solid 1px;
    }
    /*-------------------------------------------------
RIGHT CLASSES
-------------------------------------------------*/
    .rechtsContainer {
        float: left;
        width: 660px;
        overflow: hidden;
    }
    .rechtsContainer .title {
        margin-bottom: 25px;
    }
    .rechtsContainer .button {
        margin-top: 0;
    }
    .rechtsContainer img {
        float: left;
        margin-right: 40px;
    }
    .rechtsContainer .content p {
        padding-bottom: 30px;
    }
    .button2 a {
        display: block;
        float: left;
        width: 70px;
        height: 30px;
        text-align: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 30px;
        color: #ffffff;
        background: #1491c1;
    }
    .button2 a:hover {
        background: #0e5295;
    }
    /*-------------------------------------------------
SERVICES CLASSES
-------------------------------------------------*/
    .services .panel .content img {
        float: left;
        margin-right: 30px;
        padding: 5px;
        background: #0d3d78;
    }
    /*-------------------------------------------------
BOX CLASSES
-------------------------------------------------*/
    .box {
        float: left;
        width: 230px;
        padding: 20px 20px 35px 20px;
        background: #083266;
    }
    .box img {
        margin-bottom: 25px;
    }
    .box .title {
        margin-bottom: 20px;
    }
    .box .title h1 {
        font-size: 20px;
        font-weight: normal;
    }
    /*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/
    .contact-form {
        float: left;
        width: 440px;
        margin-bottom: 30px;
        padding: 30px;
        background: #0d3d78;
    }
    .contact-form label {
        display: block;
        padding: 10px 0 10px 0;
    }
    .contact-form label span {
        display: block;
        float: left;
        width: 80px;
        padding: 5px 20px 0 0;
        text-align: left;
        font-family: 'Droid Serif', serif;
        font-size: 14px;
        color: #fff;
    }
    .contact-form .input_text {
        width: 318px;
        padding: 10px 10px;
        border: none;
        outline: none;
        color: #fff;
        background: #07366b;
    }
    .contact-form .message {
        width: 318px;
        height: 150px;
        padding: 10px 10px;
        border: none;
        overflow: hidden;
        font-size: 14px;
        outline: none;
        color: #fff;
        background: #07366b;
    }
    .contact-form .button {
        margin-top: 20px;
        margin-left: 100px;
        padding: 8px;
        border: 0 solid;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        background: #1491c1;
    }
    .adres {
        width: 75%;
        margin-top: 50px;
        margin-left: 30px;
    }
    .adres .panel {
        border: none;
        color: #fff;
    }
    .adres .panel .title h1 {
        padding-bottom: 10px;
        color: #1491c1;
    }
    .adres .panel .content p span {
        color: #fff;
    }
    .adres .panel .content p .number {
        font-size: 15px;
    }
    /*-------------------------------------------------
FOOTER CLASSES UIT INTERNET GEHAALD OMDAT IK EEN SNEL CONTACT OVERAL IN DE FOOTER WOU PLAATSEN
-------------------------------------------------*/
    .footer-wrap {
        background: #1491c1;
        overflow: hidden;
    }
    .footer {
        width: 960px;
        margin: 0 auto;
        padding: 40px 0px 50px 0px;
        overflow: hidden;
    }
    .footer .bolg {
        width: 598px;
        float: left;
    }
    .footer .panel {
        float: left;
        width: 230px;
    }
    .footer .title {
        border-bottom: #107eb4 solid 1px;
        padding-bottom: 20px;
        margin-bottom: 30px;
    }
    .footer .title h1 {
        font-size: 20px;
    }
    .footer .panel .content ul li {
        float: left;
        list-style: none;
        color: #062c5b;
        font-weight: bold;
    }
    .footer .panel .content p {
        color: #fff;
        font-size: 12px;
        line-height: inherit;
        padding-top: 20px;
        clear: both;
    }
    .footer .panel .content p a {
        color: #062c5b;
        text-decoration: none;
    }
    .footer .panel .content p a:hover {
        color: #fff;
    }
    .footer .panel .content p span {
        color: #062c5b;
        font-weight: bold;
        font-size: 12px;
    }
    .footer .quickcontact {
        width: 270px;
        float: right;
    }
    .copyright-wrap {
        background: #fff;
        overflow: hidden;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .copyright {
        width: 960px;
        margin: 0 auto;
    }
    .copyright .content {
        text-align: center;
    }
    .copyright .content a {
        text-decoration: none;
        color: #1491c1;
    }
    .copyright .content a:hover {
        color: #062c5b;
    }
    .copyright .content a.active {
        color: #062c5b;
    }
    .cssbutton {
        padding: 15px 25px;
        font-size: 18px;
        text-align: center;
        cursor: pointer;
        outline: none;
        color: #fff;
        background-color: #1491c1;
        border: none;
        border-radius: 6px;
        box-shadow: 0 6px #999;
    }
    .cssbutton {
        padding: 15px 25px;
        border: none;
        border-radius: 6px;
        text-align: center;
        font-size: 18px;
        outline: none;
        color: #fff;
        background-color: #1491c1;
        box-shadow: 0 6px #999;
        cursor: pointer;
    }
    .cssbutton:hover {
        background-color: #0e5295;
    }
    .cssbutton:active {
        background-color: #0e5295;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    .input[type=text],
    select {
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        margin: 8px 0;
        padding: 12px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .inputtextfield {
        width: 100%;
        margin: 8px 0;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        color: black;
        background-color: #FFF;
        cursor: pointer;
    }
    .inputtextfield:hover {
        background-color: #FFF;
    }
    div1 {
        padding: 20px;
        border-radius: 5px;
        background-color: #f2f2f2;
    }
    .table-head {
        padding: 18px 0;
        font-size: 20px;
        font-weight: bold;
    }
    .textlabel {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #FFF;
    }
    .bucDescription {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        color: #FFF;
    }
}


/*Media screen die een width minder dan 521px heeft*/

@media screen and (max-width:520px) {
    * {
        margin: 0;
        padding: 0;
    }
    body {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #1491c1;
        background: #083266;
    }
    img {
        border: none;
    }
    h1 {
        font-family: 'Droid Serif', serif;
        font-size: 15px;
        font-weight: normal;
        color: #fff;
    }
    h2 {
        font-family: 'Droid Serif', serif;
        font-size: 13px;
        font-weight: normal;
        color: #fff;
    }
    P {
        line-height: 20px;
    }
    a {
        text-decoration: none;
        color: #1491c1;
    }
    a:hover {
        color: #FF8080;
    }
    /*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
    .center {
        text-align: center;
    }
    .table {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background-color: #F2F2F2;
    }
    .header-algemeneContainer {
        height: auto;
        background: #083266;
    }
    .header {
        width: 100%;
        margin: 0 auto;
    }
    .logo {
        width: 100%;
        background-color: #1491c1;
    }
    .logo h1 {
        height: 60px;
        text-align: center;
        font-size: 45px;
    }
    .menu ul li {
        float: none;
        height: 25px;
        margin-top: 8px;
        margin-bottom: 3px;
        text-align: center;
        list-style: none;
        color: #80d2f8;
    }
    .menu ul li a {
        text-decoration: none;
        font-size: 16px;
        color: #80d2f8;
    }
    .menu ul li a.active {
        text-decoration: white;
        color: white;
    }
    .linksContainer {
        display: none;
        width: 0%;
    }
    .algemeneContainer {
        width: 100%;
        min-height: 100vh;
    }
    .rechtsContainer {
        width: 100%;
        overflow: hidden;
    }
    .rechtsContainer .title {
        margin-bottom: 10px;
    }
    .rechtsContainer .img {
        width: 100%;
        height: auto;
    }
    .rechtsContainer .button {
        margin-top: 0;
    }
    .rechtsContainer img {
        margin-right: auto;
    }
    .rechtsContainer .content p {
        padding-bottom: 10px;
    }
    .button2 a {
        display: block;
        float: left;
        width: 30px;
        height: 10px;
        text-align: center;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 10px;
        color: #ffffff;
        background: #1491c1;
    }
    .button2 a:hover {
        background: #0e5295;
    }
    .footer-wrap {
        display: none;
    }
    .onthaalFoto {
        width: 100%;
        margin-top: 0;
        margin-bottom: 25px;
        overflow: hidden;
    }
    .onthaalFoto img {
        border: none;
    }
    .copyright-algemeneContainer {
        padding-top: 10px;
        padding-bottom: 10px;
        background: #fff;
    }
    .copyright {
        width: 100%;
        margin: 0 auto;
    }
    .copyright .content {
        text-align: center;
    }
    .copyright .content a {
        text-decoration: none;
        color: #1491c1;
    }
    .copyright .content a:hover {
        color: #062c5b;
    }
    .copyright .content a.active {
        color: #062c5b;
    }
    .box {
        width: 95%;
        padding: 20px 20px 35px 20px;
        background: #083266;
    }
    .box img {
        margin-bottom: opx;
    }
    .box .title {
        margin-bottom: 20px;
    }
    .box .title h1 {
        font-size: 20px;
        font-weight: normal;
    }
    /*-------------------------------------------------
CONTACT FORM CLASSS
-------------------------------------------------*/
    .contact-form {
        width: 100%;
        text-align: center;
        background: #0d3d78;
    }
    .contact-form label {
        display: block;
        width: 90%;
        padding: 5px 0 5px 0;
        text-align: center;
    }
    .contact-form label span {
        ;
        display: block;
        width: 90%;
        padding: 5px 10px 0 0;
        text-align: left;
        text-align: center;
        font-family: 'Droid Serif', serif;
        font-size: 14px;
        color: #fff;
    }
    .contact-form .input_text {
        width: 90%;
        padding: 5px 5px;
        border: none;
        text-align: center;
        outline: none;
        color: #fff;
        background: #07366b;
    }
    .contact-form .message {
        width: 94%;
        height: 90px;
        padding: 5px 5px;
        border: none;
        font-size: 11px;
        outline: none;
        color: #fff;
        background: #07366b;
    }
    .contact-form .button {
        margin-top: 10px;
        margin-left: 12%;
        padding: 4px;
        border: 0 solid;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Oswald', sans-serif;
        color: #ffffff;
        background: #1491c1;
    }
    .adres {
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 20px;
    }
    .adres .panel {
        border: none;
        color: #fff;
    }
    .adres .panel .title h1 {
        padding-bottom: 10px;
        color: #1491c1;
    }
    .adres .panel .content p span {
        color: #fff;
    }
    .adres .panel .content p .number {
        font-size: 14px;
    }
    .center {
        text-align: center;
    }
    .table {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        background-color: #F2F2F2;
    }
    .mar-top {
        margin-top: 40px;
    }
    .mar-top30 {
        margin-top: 30px;
    }
    .mar-bottom {
        margin-bottom: 40px;
    }
    .mar-Right {
        margin-right: 0;
    }
    .mar-right115 {
        margin-right: 0;
    }
    .float-left {
        float: left;
    }
    .float-right {
        float: right;
    }
    .clearing {
        clear: both;
    }
    .bor-bottm-non {
        border-bottom: none!important;
    }
    .cssbutton {
        padding: 8px 12px;
        border: none;
        border-radius: 3px;
        text-align: center;
        font-size: 16px;
        outline: none;
        color: #fff;
        background-color: #1491c1;
        box-shadow: 0 3px #999;
        cursor: pointer;
    }
    .cssbutton:hover {
        background-color: #0e5295;
    }
    .cssbutton:active {
        background-color: #0e5295;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }
    .input[type=text],
    select {
        display: inline-block;
        box-sizing: border-box;
        width: 100px;
        margin: 8px 0;
        padding: 12px 20px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    .inputtextfield {
        width: 100px;
        margin: 8px 0;
        padding: 14px 20px;
        border: none;
        border-radius: 4px;
        color: black;
        background-color: #FFF;
        cursor: pointer;
    }
    .inputtextfield:hover {
        background-color: #FFF;
    }
    div1 {
        padding: 20px;
        border-radius: 5px;
        background-color: #f2f2f2;
    }
    .table-head {
        padding: 18px 0;
        font-size: 20px;
        font-weight: bold;
    }
    .button a {
        display: none;
    }
    .page {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 50px;
        overflow: hidden;
    }
    .page-content {
        width: 95%;
        margin: 0 auto;
        padding-top: auto;
        padding-bottom: auto;
        overflow: hidden;
    }
    .textlabel {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #FFF;
    }
    .bucDescription {
        padding-top: 10px;
        padding-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        color: #FFF;
    }
}
